<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
		<title>Nutrition App</title>
		<link rel="stylesheet"  type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	</head>
	<body>
	<!-- {% with messages = get_flashed_messages()%}
	{% if messages %}
		<ul class="flashes">
			{% for message in messages %}
			<li>{{message}}</li>
			{% endfor %}
		</ul>
	{% endif %}
	{% endwith %} -->
		<h1>Welcome!</h1>
		<h3>Total Juice Product Number: {{product_number}}</h3>
		<div class="col-xs-16 col-xs-offset-1">
			{%block content%}
				{% for item in my_object %}
					<div class="col-xs-4 col-xs-offset-2">product name: {{item['fields']['item_name']}}</div> 
					<div class="col-xs-10">Product Ingredient: {{item['fields']['nf_ingredient_statement']}}</div> 
					<div class="col-xs-2"> Calories:{{item['fields']['nf_calories']}} 
						<p>Average Calories : {{average_calorie}}</p></div>
				{% endfor %}
					
			{%endblock%}
				
		</div>
		<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	</body>
</html>
